# Path to slope data | Type: TEXT:FILE
slopePath = "../tests/malonno/slope_MALONNO.asc"

# Path to TWI data | Type: TEXT:FILE
twiPath = "../tests/malonno/twi_MALONNO.asc"

# Path to soil type data | Type: TEXT:FILE
soilTypePath = "../tests/malonno/soils_MALONNO_v2.asc"

# Path to soil depth data | Type: TEXT:FILE
soilDepthPath = "../tests/malonno/soils_MALONNO.asc"

# Path to dusaf data | Type: TEXT:FILE
dusafPath = "../tests/malonno/dusaf_MALONNO.asc"

# Path to probslope data | Type: TEXT:FILE
probslopePath = "../tests/malonno/PROBSLOPE_MALONNO.asc"

# Path to output directory | Type: TEXT:PATH(non-existing)
outputPath = "out_malonno"